@tailwind base;
@tailwind components;
@tailwind utilities;

.section-1 {
    width: 19.2rem;
    height: 10.8rem;
    background-size: contain;
    background-image: url('../images/backgrounds/1背景图.jpg');
}

.section-2 {
    width: 19.2rem;
    height: 11.8rem;
    background-size: cover;
    background-image: url('../images/backgrounds/2背景图.jpg');
}

.section-3 {
    width: 19.2rem;
    height: 20.8rem;
    background-size: cover;
    background-image: url('../images/backgrounds/3背景图.jpg');
}